# https://rapidapi.com/
VITE_RAPIDAPI_KEY=

# https://dashboard.web3auth.io/
VITE_WEB3AUTH_CLIENT_ID=

# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

VITE_VERIFICATION_CODE=

